body {
	margin: 0;
	line-height: 1.6;
	overflow: hidden;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
	background: url('style/фон.jpg') no-repeat;
	background-size: 100vw 100vh;
}

@font-face {
	font-family: GothamM;
	src: url('style/ofont.ru_Gotham\ Pro.ttf');
}
@font-face {
	font-family: GothamR;
	src: url('style/14078.ttf');
}
  
.menu {
	background-color: #1D1F20;
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	right: 0;
}
.slide_menu {
	width: 325px;
	min-height: 100vh;
	transition: 0.4s;
	opacity: 0;
	transform-origin: right;
	transform: scaleX(0);
}
.nav_menu {
	max-width: 260px;
	padding: 0;
	margin: 130px 25px;
   list-style: none;
}
li {
	display: list-item;
   text-align: -webkit-match-parent;
}
.menu_link_btn, .menu_link{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.1s;
}
.menu_link {
	margin: 15px 19.5px;
	display: block;
}
.menu_link_btn{
	transition: 0.1s;
}
.menu_link:hover, .menu_link_btn:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 15px;
}
	
.link_planet{
	font-size: 20px;
	font-family: GothamM;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	margin: 0 35px;
	display: block;
}
.link_planet:hover{
	color: #ecdf89;
	text-shadow: 0 0 2px #fdee8e;
	padding: 7px;
}
.planet_list{
	transform: scaleY(0);
	transition: 0.2s;
	position: absolute;
	transform-origin: top;
}
.planet_list_active{
	transform: scaleY(1);
	position: static;
}
.arrow{
	height: 16px;
	margin-right: 8px;
	margin-bottom: -1px;
	transition: 0.2s;
}
.arrow_active{
	transform: rotate(90deg);
}

.slide_menu_active {
	transform: scaleX(1);
	opacity: 1;
}
.poloska1, .poloska2, .poloska3{
	position: absolute;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska1{
	width: 350px;
	height: 3px;
	bottom: 21.5vh;
	right: 8vw;
}
.poloska2{
	position: absolute;
	width: 430px;
	height: 7px;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	bottom: 35vh;
	right: 0;
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
	}
.poloska3{
	position: absolute;
	width: 230px;
	height: 5px;
	background-color: white;
	transform: rotate(-26deg) scaleX(0);
	bottom: 25vh;
	right: 0;
	z-index: 20;
	transition: 0.2s;
	transform-origin: right;
}
.poloska_active{
	transform: rotate(-26deg) scaleX(1);
	transition: 0.2s;
	transform-origin: right;
}
.poloska_act{
	transform: rotate(-26deg) scaleX(0);
}

header {
	width: 85vw;
	margin: 0 auto;
	height: 17vh;
}
.header_inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.logo{
	margin: 20px;
}
.menu_btn {
	margin-top: 70px;
	margin-right: 20px;
	width: 56px;
	height: 36px;
	display: block;
	position: relative;
	z-index: 20;
}
.menu_btn span,
.menu_btn span::before,
.menu_btn span::after{
	position: absolute;
	top: 50%; margin-top: -2px;
	width: 56px;
	height: 4px;
	background-color: white;
}
.menu_btn span::before,
.menu_btn span::after{
	content: '';
	display: block;
	transition: 0.4s;
}
.menu_btn span::before{
	transform: translateY(12px);
}
.menu_btn span::after{
	transform: translateY(-12px);
}
.menu_btn_active span{
	height: 0;
}
.menu_btn_active span:before{
	transform: rotate(45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active span:after{
	transform: rotate(-45deg);
	height: 3px;
	width: 50px;
}
.menu_btn_active {
	transform: translate(100px);
}

#mobilewrap{
	position: absolute;
	width: 100%;
	height: 80vh;
	display: flex;
   flex-direction: column;
   justify-content: space-between;
}
 
#container{
	position: absolute;
	width: 50vh;
	height: 50vh;
	background: #424141;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 27px;
	border: 13px solid #272626;
	box-shadow: black 0 0 60px;
}
.name_game{
	width: 20%;
	font-size: 40px;
	font-family: GothamM;
	color: white;
	text-align: center;
	margin: 0 auto;
}
.name_game::after{
	content: '';
	display: block;
	background: white;
	width: 100%;
	height: 2px;
	box-shadow: 0 0 3px white;
}
.button{
	width: 20%;
	font-size: 25px;
	font-family: GothamR;
	color: white;
	margin: 0 auto;
	border: 2px white solid;
	border-radius: 15px;
	text-align: center;
	letter-spacing: 2px;
}
.button:hover{
	border: 2px #29B6F6 solid;
	color: #29B6F6;
	transform: scale(1.03);
}
#container .over{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  display: table;
  text-align: center;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
#container .over .loser{
	display: table-cell;
	color: #455A64;
	font-size: 5vh;
	vertical-align: middle;
}
#container .won{
  position: absolute;
  top: 0;
  left: 50vh;
  width: 70vh;
  height: 100%;
  padding-top: 10vh;
  opacity: 0;
  border-radius: 4px;
  padding-left: 4vh;
  display: none;
  transition: padding-top 0.3s, opacity 0.4s;
}
#container .won .winner{
 display: block;
 color: rgba(255,255,255,0.25);
 font-size: 13vh;
}
#container .won .bestscore{
	color: rgba(255,255,255,0.25);
	font-size: 4vh;
}
#container .won .numbest{
	color: #FF5722;
	font-size: 4.3vh;
}
#container .grid{
  width: 100%;
  height: 100%;
  padding-top: 1vh;
}
#container .grid .row{
	position: relative;
	width: 100%;
	height: 10vh;
	padding-left: 1vh;
}
#container .grid .row .base{
	position: relative;
	float: left;
	width: 10vh;
	height: 10vh;
	background: #cdc1b3;
	border-radius: 5px;
	margin: 1vh;
	text-align: center;
}
	
#container .tiles{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2vh;
  box-sizing: border-box;
}
#container .tiles .tile{
	position: absolute;
	width: 10vh;
	height: 10vh;
	border-radius: 5px;
	overflow: hidden;
	transition: box-shadow 0.3s;
	transition: 0.2s;
}
.tile:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: box-shadow 0.3s;
}
		 
.tile_content{
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
	transform-origin: center center;
	animation: pop-up 0.3s ease-in forwards;
	padding: 1px;
}
span{
  display: table-cell;
  font-size: 3.5vh;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
}

 
 .tile-2{ background: rgba(255,255,255,0.9);}
 .tile-4{background: #B3E5FC;}
 .tile-8{background: #81D4FA;}
 .tile-16{background: #4FC3F7; color: white;}
 .tile-32{background: #29B6F6; color: white;}
 .tile-64{background: #03A9F4; color: white;}
 .tile-128{background: #E6EE9C;}
 .tile-256{background: #DCE775; box-shadow: 0 0 10px 1px #DCE775;}
 .tile-512{background: #D4E157; box-shadow: 0 0 15px 1px #D4E157;}
 .tile-1024{background: #FFEB3B;}
 .tile-2048{background: #FFC107; box-shadow: 0 0 10px 1px #FFC107;}
 .tile-4096{background: #FF9800; box-shadow: 0 0 15px 1px #FF9800; color: white;}
 .tile-8192{background: #7B1FA2; box-shadow: 0 0 10px 1px #7B1FA2; color: white;}
 
 @keyframes pop-up{
	0% {
	  transform: scale(0.8);
	}
	50%{
	  transform: scale(1.2);
	}
	100% {
	  transform: scale(1);
	}
 }

@media (max-width: 1450px){
	header{
		width: 90vw;
	}
	.logo{
		transform: scale(0.9);
	}
	.menu_btn{
		transform: scale(0.9);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 20px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		margin: 10px 15px;
	}
	.poloska1{
		bottom: 25vh;
	}
}
@media (max-width: 1170px){
	.name_game{
		width: 40%;
	}
}
@media (max-width: 900px) {
	body{
		background-size: auto 100vh;
	}
	header{
		height: 15vh;
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 200px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.8);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 22px;
	}
	.nav_menu{
		margin: 100px 25px;
	}
	.menu_link{
		font-size: 18px;
		margin: 9px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 18px;
	}
	.poloska1{
		right: 13vw;
	}
	.name_game{
		width: 47%;
	}
}

@media (max-width: 600px) {
	header{
		justify-content: center;
		align-content: center;
	}
	.logo img{
		width: 170px;
	}
	.logo{
		margin: 10px 0;
	}
	.menu_btn{
		transform: scale(0.7);
		margin: 0;
		align-self: center;
		margin-right: 20px;
		margin-top: 16px;
	}
	.nav_menu{
		margin: 90px 25px;
	}
	.menu_link{
		font-size: 16px;
		margin: 4px 15px;
	}
	.menu_link_btn, .link_planet{
		font-size: 16px;
	}
	.poloska1{
		right: 20vw;
	}
	.name_game{
		width: 85%;
	}
}
